@media screen and (max-width: 768px) {
   #header1, #header3 {
       display: none;
   }

    #header {
    margin-left: 55%;
    max-width: 400px;
    flex: none;
   }



    body {

        background-image: url("../img/back950.png");
        background-size: auto;
        background-repeat: repeat;
        
    }
    
    footer {
        font-size: 15px;
        text-align: center;
        color: #212529;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        margin-top: 20px;
        font-weight: 600;
    }

    #searchRow1, #searchRow3 {
        display: none;
    }
    #searchRow2 {
        margin-left: 16%;
        max-width: 70%;
        flex: none;
    }
    
    #Tags1, #Tags3 {
        display: none;
    }

    #Tags2{
        max-width: 100%;
    }

    #tags {
        margin-left: 30%;
        max-width: 100%;
        flex: none;
    }

    .row {
        padding-top: 20px;
        width: 100%;
    }
    
    .searchButtons {
        margin-left: 12%;
    }
    
    #searchGifText  {
        margin-left: 37%;
        font-weight: 600;
    }
    
    #buttonhGifTags {
        font-weight: 600;
        margin-left: 42%;
    }
    
    #TagsForYou{
        font-weight: 600;
    }
    
    #exampleFormControlInput1 {
        border-radius: 10px;
    }
    
    #buttonTags {
        color: #212529c2;
        margin-bottom: 10px;
        border-color: #2125297e;
        border-radius: 8px;
        margin: 2px;
        
    }
    
    #buttonTagsNew {
    
        color: #212529c2;
        margin-bottom: 10px;
        border-color: #2125297e;
        border-radius: 8px;
        margin: 2px;
    
    }
    
    #buttonTags:hover, #buttonTagsNew:hover {
        background-color: #2125297e;
    }
    
    #resultgif {
        padding: 5px;
    }
    
    #gifs {
        float: left;
        padding: 10px;
        text-align: center;
        padding-bottom: 20px;
    }
    
    
    
    #searchRow {
        position: -webkit-sticky;
        position: sticky;
    }
    
}