body {

    background-image: url("../img/back950.png");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    font-size: 15px;
    text-align: center;
    color: #212529;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    font-weight: 600;
}

.row {
    padding-top: 20px;
    width: 100%;
}

.searchButtons {
    margin-left: 18%;
}

#searchGifText  {
    margin-left: 37%;
    font-weight: 600;
}

#buttonhGifTags {
    font-weight: 600;
    margin-left: 42%;
}

#TagsForYou{
    font-weight: 600;
}

#exampleFormControlInput1 {
    border-radius: 10px;
}

#buttonTags {
    color: #212529c2;
    margin-bottom: 10px;
    border-color: #2125297e;
    border-radius: 8px;
    margin: 2px;
    
}

#buttonTagsNew {

    color: #212529c2;
    margin-bottom: 10px;
    border-color: #2125297e;
    border-radius: 8px;
    margin: 2px;

}

#buttonTags:hover, #buttonTagsNew:hover {
    background-color: #2125297e;
}

#resultgif {
    padding: 5px;
}

#gifs {
    float: left;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}

#header {
    position: static;
}

#searchRow {
    position: -webkit-sticky;
    position: sticky;
}


























































