@media screen and (max-width: 640px) {
#searchRow2 {
    margin-left: 7%;
    max-width: 90%;
    flex: 100%;
} 

.searchButtons {
    margin-left: 15%;
}

#Tags2 {
    max-width: 80%;
    flex: 100%;
    margin-left: 15%;
}


#gifsDiv {
    margin-left: 3%;
}

#col-11 {
    display: none;
}

#gifs {
    width: 100%;
    float: none;
    margin: 0 auto 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    padding-right: 0px;
    margin-left: 11%;
}
}